[core]
    editor = vim

[user]
	name = Tyler Stroud
	email = tyler@tylerstroud.com
[help]
    autocorrect = 1

[color]
    ui = 1

[merge]
    tool = vimdiff

[mergetool "vimdiff"]
    cmd = vmidiff "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = 0

[difftool]
    tool = vimdiff
    cmd = "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[alias]
    br = branch
    co = checkout
    cp = cherry-pick
    df = diff
    lg = log
    rb = rebase
    rbi= rebase -i
    st = status
